﻿
@{
    ViewData["Title"] = "TaskView";
}
@using DataLayer.Entities.Enums
@model DataLayer.Entities.ProjectTask

<h4>@Model.Name <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="TaskEdit" asp-route-taskId="@Model.Id">Изменить</a></h4>
<hr />
<div class="row">
    <div class="col-sm-6 card card-body bg-light">
        <h5>Детали задачи:<a class="btn btn-danger float-sm-right" asp-area="" data-toggle="modal" data-target="#exampleModalCenter">Вести журнал работы</a></h5>
        <br>
        <p>Отдел: @Model.Department.GetDisplayName()</p>
        <form asp-action="TaskChangeState" enctype="multipart/form-data" asp-controller="Home" asp-anti-forgery="true" method="post">
            <div class="row">
                <div class="col-sm-2">
                    <p>Статус:</p>
                </div>
                <div class="col-sm-4">
                    @*<select style="min-width:100px" class="form-control" name="state" asp-items="@Html.GetEnumSelectList(typeof(ProjectTaskStateEnum.ProjectTaskState))"></select>*@
                    @Html.DropDownListFor(x => x.ProjectTaskState, Html.GetEnumSelectList(typeof(ProjectTaskStateEnum.ProjectTaskState)), new { @class = "form-control", onchange = "this.form.submit()", name = "state" })
                </div>
                <input type="hidden" value="@Model.Id" name="taskId" />
                <div class="col-sm-6"></div>
                @*@Model.ProjectTaskState*@
            </div>
        </form>
        <p>Время на выполнение: @Model.EstimatedTime минут</p>
        <p>Затраченное время: @Model.SpentTime минут</p>
    </div>
    <div class="col-sm-6 card card-body bg-light">
        <h5>Люди:</h5>
        <br>
        <p>Исполнитель: @Model.User.FullName</p>
        <p>Эффективность:</p>
        <div class="efficiency circle">
            <strong></strong>
        </div>
    </div>
</div>
<hr />
<input id="ET" type="hidden" value="@Model.EstimatedTime" />
<input id="ST" type="hidden" value="@Model.SpentTime" />
<div class="row card card-body bg-light">
    <h5 class="text-center">Описание</h5>
    <br>
    <p>@Model.Description</p>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Вести журнал работы</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="TaskSpendTime" enctype="multipart/form-data" asp-controller="Home" asp-anti-forgery="true" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <h5>Затраченное время, мин</h5>
                        <input type="number" class="form-control" required="required" name="timeSpend" />
                        <input type="hidden" value="@Model.Id" name="taskId" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Ок</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var val = {}
    if ($('#ST').val() == 0) {
        val = 0;
    } else {
        val = $('#ET').val() / $('#ST').val();
    }
    $('.efficiency').circleProgress({
        value: val,
        fill: { gradient: [['#d15454', .5], ['#b32727', .5]], gradientAngle: Math.PI / 4 }
    }).on('circle-animation-progress', function (event, progress, stepValue) {
        $(this).find('strong').text(Math.round(stepValue * 100) + '%'/*.substr(1)*/);
    });
</script>

