﻿@{
    ViewData["Title"] = "Задачи";
}
@using DataLayer.Entities.Enums
@model List<DataLayer.Entities.ProjectTask>

<h2>Задачи</h2>
<table class="sortable-theme-light table-responsive" data-sortable>
    <thead>
        <tr>
            <th>Название</th>
            <th>Отдел</th>
            <th>Степень выполнения</th>
            <th>Исполнитель</th>
            <th>Эффективность</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var projectTask in Model)
            {
                <tr>
                    <td>
                        <a class="text-dark" asp-area="" asp-controller="Home" asp-action="TaskView" asp-route-taskId="@projectTask.Id">@projectTask.Name</a>
                    </td>
                    <td>
                        @projectTask.Department.GetDisplayName()
                    </td>
                    <td>
                        @projectTask.ProjectTaskState
                    </td>
                    <td>
                        @projectTask.User.FullName
                    </td>
                    <td>
                        @if (projectTask.SpentTime == 0)
                        {
                            <span>0%</span>
                        }
                        else
                        {
                            <span>@Math.Round(((float)projectTask.EstimatedTime / (float)projectTask.SpentTime * 100)) %</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="TaskDelete" asp-route-taskId="@projectTask.Id">Удалить</a>
                        <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="TaskEdit" asp-route-taskId="@projectTask.Id">Изменить</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<a class="btn btn-danger float-right" asp-area="" asp-controller="Home" asp-action="TaskEdit" asp-route-taskId="0">Создать задачу</a>