﻿@using System.Security.Claims
@using DataLayer.Entities.Enums
@model DataLayer.Entities.ProjectTask

<div class="container-fluid" style="max-width: 600px">
    <div class="card card-body bg-light">

        <form asp-action="TaskEdit" enctype="multipart/form-data" asp-controller="Home" asp-anti-forgery="true" method="post">
            @if (Model.Id == 0)
            {
                <h2 class="h3 text-danger text-center font-weight-normal mb-0">Создать задачу</h2>
            }
            else
            {
                <h2 class="h3 text-danger text-center font-weight-normal mb-0">Изменить задачу</h2>
            }

            <div class="form-group">
                <h5>Название</h5>
                <input type="text" class="form-control" required="required" asp-for="Name" />
                <span asp-validation-for="Name" />
            </div>
            <div class="form-group">
                <h5>Описание</h5>
                <textarea class="form-control" required="required" asp-for="Description"></textarea>
                <span asp-validation-for="Description" />
            </div>
            <div class="form-group">
                <h5>Отдел</h5>
                @Html.DropDownListFor(x => x.Department, Html.GetEnumSelectList(typeof(DepartmentEnum.Department)), new { @class = "form-control" })
                <span asp-validation-for="Department" />
            </div>
            <div class="form-group">
                <h5>Время на выполнение, мин</h5>
                <input type="number" class="form-control" required="required" asp-for="EstimatedTime" />
                <span asp-validation-for="EstimatedTime" />
            </div>
            @if (User.IsInRole("Director"))
            {
                <div class="form-group">
                    <h5>Исполнитель</h5>
                    <select class="form-control" asp-items="@(new SelectList(ViewBag.Users, "Id","FullName"))" asp-for="UserId"></select>
                    <span asp-validation-for="UserId" />
                </div>
            }
            else
            {
                <input type="hidden" asp-for="UserId" value="@Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier).Value)">
            }
            <input type="hidden" asp-for="Id" value="@Model.Id">
            <input type="hidden" asp-for="ProjectTaskState" value="@Model.ProjectTaskState">
            <input type="hidden" asp-for="SpentTime" value="@Model.SpentTime">
            <div class="" style="color: #e74c3c;" asp-validation-summary="All"></div>
            <div>
                <div class="form-group float-right">
                    <input type="submit" value="Ок" id="submitButton" class="btn btn-danger float-right" />
                </div>
            </div>
        </form>
    </div>
</div>

