﻿@{
    ViewData["Title"] = "User";
}
@using System.Security.Cryptography
@using DataLayer.Entities.Enums
@model DataLayer.Entities.User

<h4>@Model.FullName <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="UserEdit" asp-route-userId="@Model.Id">Изменить</a></h4>
<hr />
<div class="row">
    <div class="col-sm-6 card card-body bg-light">
        <h5>Информация:</h5>
        <br />
        <p>ФИО: @Model.FullName</p>
        <p>Отдел: @Model.Department.GetDisplayName()</p>
        <p>Должность: @Model.Role.GetDisplayName()</p>
    </div>
    <div class="col-sm-6 card card-body bg-light">
        <h5>Контакты:</h5>
        <p>Телефон: @Model.PhoneNumber</p>
        <p>Email: @Model.Email</p>
        <p>Адрес: @Model.Address</p>
    </div>
</div>
<hr />
<div class=" row card card-body bg-light">
    <h4 class="text-center">Задачи</h4>
    <br>
    @if (Model.ProjectTasks.Any())
    {
        <div class="row">
            <div class="col-sm-3">
                <h5>Название:</h5>
            </div>
            <div class="col-sm-9">
                <h5>Описание:</h5>
            </div>
        </div>
        @foreach (var task in Model.ProjectTasks)
        {
            <div class="row">
                <div class="col-sm-3">
                    <a class="text-dark" asp-area="" asp-controller="Home" asp-action="TaskView" asp-route-taskId="@task.Id">@task.Name</a>
                </div>
                <div class="col-sm-9">
                    @task.Description
                </div>
            </div>
            <hr />
        }
    }
    else
    {
        <h5 class="text-center">Сотрудник не имеет активных задач</h5>
    }
</div>
