﻿@{
    ViewData["Title"] = "Сотрудники";
}
@using DataLayer.Entities.Enums
@model List<DataLayer.Entities.User>

<h2>Сотрудники</h2>
<table class="sortable-theme-light table-responsive" data-sortable>
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Отдел</th>
            <th>Телефон</th>
            <th>Адрес проживания</th>
            <th>Email</th>
            <th>Роль</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <a class="text-dark" asp-area="" asp-controller="Home" asp-action="UserView" asp-route-userId="@user.Id">@user.FullName</a>
                    </td>
                    <td>
                        @user.Department.GetDisplayName()
                    </td>
                    <td>
                        @user.PhoneNumber
                    </td>
                    <td>
                        @user.Address
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.Role.GetDisplayName()
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="UserEdit" asp-route-userId="@user.Id">Изменить</a>
                        <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="UserDelete" asp-route-userId="@user.Id">Удалить</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<a class="btn btn-danger float-right" asp-area="" asp-controller="Home" asp-action="UserEdit" asp-route-taskId="0">Добавить сотрудника</a>
