﻿@using DataLayer.Entities.Enums
@model DataLayer.Entities.User

<div class="container-fluid" style="max-width: 600px">
    <div class="card card-body bg-light">

        <form asp-action="UserEdit" enctype="multipart/form-data" asp-controller="Home" asp-anti-forgery="true" method="post">
            @if (Model.Id == 0)
            {
                <h2 class="h3 text-danger text-center font-weight-normal mb-0">Добавить сотрудника</h2>
            }
            else
            {
                <h2 class="h3 text-danger text-center font-weight-normal mb-0">Изменить сотрудника</h2>
            }

            <div class="form-group">
                <h5>ФИО</h5>
                <input type="text" class="form-control" required="required" asp-for="FullName" />
                <span asp-validation-for="FullName" />
            </div>
            <div class="form-group">
                <h5>Email</h5>
                <input type="email" class="form-control" required="required" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            @if (Model.Id == 0)
            {
                <div class="form-group">
                    <h5>Пароль</h5>
                    <input type="password" class="form-control" required="required" asp-for="Password" />
                    <span asp-validation-for="Password" />
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Password" value="@Model.Password">
            }

            <div class="form-group">
                <h5>Отдел</h5>
                @Html.DropDownListFor(x => x.Department, Html.GetEnumSelectList(typeof(DepartmentEnum.Department)), new { @class = "form-control" })
                <span asp-validation-for="Department" />
            </div>
            <div class="form-group">
                <h5>Адрес</h5>
                <input type="text" class="form-control" required="required" asp-for="Address" />
                <span asp-validation-for="Address" />
            </div>
            <div class="form-group">
                <h5>Номер телефона</h5>
                <input type="number" class="form-control" required="required" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" />
            </div>
            <div class="form-group">
                <h5>Должность</h5>
                @Html.DropDownListFor(x => x.Role, Html.GetEnumSelectList(typeof(RoleEnum.Role)), new { @class = "form-control" })
                <span asp-validation-for="Role" />
            </div>
            <input type="hidden" asp-for="Id" value="@Model.Id">
            <div class="" style="color: #e74c3c;" asp-validation-summary="All"></div>
            <div>
                <div class="form-group float-right">
                    <input type="submit" value="Ок" id="submitButton" class="btn btn-danger float-right" />
                </div>
            </div>
        </form>
    </div>
</div>

